.background {
    display: flex;
    justify-content: center;
}

.todoAllWrap {
    width: 400px;
    height: 550px;
    margin-top: 70px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoAllWrap .todoTitle {
    font-size: 40px;
    text-align: center;
}

.todoAllWrap .inputWrap {
    width: 350px;
    height: 30px;
    font-size: 26px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoAllWrap .inputWrap input {
    width: 330px;
    height: 30px;
    outline: none;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 22px;
    padding-left: 15px;
}

.todoAllWrap .inputWrap .add {
    width: 28px;
    height: 28px;
    content: url(./img/plus.png);
    margin-left: 15px;
}

.todoAllWrap .listWrap {
    width: 350px;
    font-size: 18px;
}

.todoAllWrap .listWrap .delete {
    width: 28px;
    height: 28px;
    content: url(./img/delete.png);
    margin-left: 20px;
}

.todoAllWrap .listWrap .check {
    width: 28px;
    height: 28px;
    content: url(./img/circle.png);
    margin-right: 10px;
}


.todoAllWrap .listWrap .list.done .check {
    width: 28px;
    height: 28px;
    content: url(./img/check.png);
}

.todoAllWrap .listWrap .list.done {
    /* 취소선  */
    text-decoration: line-through;
}

.todoAllWrap .listWrap .list {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}